<h2>There's always money in the banana stand</h2>

<p>
I could be fun, if you want. Anything by Disney makes me cry. Anything happens in that five minutes, then I'm yours, no matter what. There's a hundred thousand streets in this city. I think the one thing I love most about being an adult is the right to buy candy whenever and wherever I want.
</p>

<p>
I wrote you 365 letters. If I drive for you, you get your money. All my characters are me. Change moves in spirals, not circles. But everytime that happens, what do you get? You get a new day.
</p>

<p>
Because I was home-schooled, I didn't have a lot of friends and I did ballet, which was always just girls. I'm going to get to ride the bike up, rob it, and ride the bank away. I don't know enough about manliness to define it. I don't carry a gun. Anything a minute on either side of that and you're on your own.
</p>

<p>
For example, the sun goes up and then it goes down. I wrote you everyday for a year. I'm really not good at knowing what people want, because don't have that talent. You get a new one. I think like a girl, I think.
</p>
