<h2>There's always money in the banana stand</h2>

<p>When you breathe, you inhale and you exhale, but every single time that you do that you're a little bit different then the one before. I could be whatever you want. You get a new one. And its important to know that there are some changes you can't control and that there are others you can. All my characters are me. And I just turn up the parts of myself that are them and turn down the parts that aren't. I'm really not good at knowing what people want, because don't have that talent. Because for me, they're all me.</p>