<h2>You've got mail</h2>

<% if @allposts.empty? %>
    <p>There are no postcards to display yet</p>
<%end%>

<ul>
    <% @posts.each do |post| %>
        <li>
            <a href="/posts/<%=post.id%>">
                <%= post.created_at.to_time.strftime("%d/%m/%Y")%>

                <%= post.subject %>
            </a> 
        </li>
    <%end%>
</ul>