<h2>Here is a list of all posts</h2>

<% if @allposts.empty? %>
    <p>There are no posts yet to display</p>
<%end%>

<ul>
    <% @posts.each do |post| %>
        <li>
            <a href="/posts/<%=post.id%>">
                <%= post.title %>
            </a> 
        </li>
    <%end%>
</ul>