<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <header>
                <h1>Carte Postale</h1>
        </header>
        <nav class="header">
            <ul>
                    <li><a href="/"><img src="/../images/home.png" > Home </a></li>
                    <li><a href="/posts"><img src="/../images/envelope.png" > Check letterbox </a></li>
                    <li><a href="/posts/create"><img src="/../images/edit.png" > Send postcard </a></li>
            </ul>
        </nav>
         <nav>
             <ul class="origincards">
                <li class="locale" >Postcards by country: </li>
                 <% @countries.each do |locale| %>
                 <li class="locale">
                    <a href="/posts/origin/<%=locale.country%>"> 
                    <%=locale.country%>
                    </a>
                </li>
                <%end%>
             </ul>
         </nav>

        <div class="content">
            <%=yield%>   
        </div>
        <footer>
            Brought to you by Monday Dreaming &copy;
        </footer>
    </div>
</body>
</html>